:root {
  --primary: #3f63ff;
}

body {
  background: #eef3ff;
  color: #26334d;
}

.confirmarBoton {
  background: linear-gradient(90deg, #3f63ff, #4e7dff);
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

.cancelBoton {
  background: linear-gradient(90deg, #ff6b6b, #f45f8d);
  color: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}
