.confirmarBoton{

    background-color: var(--primary);
    color: white;
    font-family: 'Poppins', sans-serif;

}



.cancelBoton{
    background-color: #ce4e4eec;
    color: white;
    font-family: 'Poppins', sans-serif;
}