@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* #e2e2e2 */
/* #d0d0d0 */

.loginBody {
    background-color: #e8e8e8;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 3px solid black; */

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* border: 3px solid black; */

}

.card1{
    background-image: url('/img1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 450px;
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    /* border: 3px solid black; */
}

.card {
    width: 400px;
    padding: 2rem;
    text-align: center;
    background: #2a2b38;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /* border: 3px solid black; */
}

.title {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    font-size: 46px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: -16px;
    /* border: 3px solid black; */
}

.subtitle {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    margin-top: -28px;
    font-size: 15px;
    
}

.field {
    margin-top: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #1f2029;
    border-radius: 4px;
    padding: 0.8em 1em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    /* border: 3px solid black; */
}

.inputIcon {
    height: 1.1em;
    width: 1.1em;
    fill: #ffffff;
     /* border: 3px solid black; */
}

.inputField {
    font-family: 'Poppins', sans-serif;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
    height: 2.0rem;
    font-size: 0.9rem;
    /* border: 3px solid black; */
}


.btn {
    font-family: 'Poppins', sans-serif;
    margin: 1rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: .8em;
    text-transform: uppercase;
    padding: 0.6em 1.2em;
    background-color: #ffeba7;
    color: #5e6681;
    box-shadow: 0 8px 24px 0 rgb(255 235 167 / 20%);
    transition: all .3s ease-in-out;
     /* border: 3px solid black; */
}

.btnLink {
    font-family: 'Poppins', sans-serif;
    color: #f5f5f5;
    display: block;
    font-size: .75em;
    transition: color .3s ease-out;
     /* border: 3px solid black; */
}

.btn:hover {
    background-color: #5e6681;
    color: #ffeba7;
    box-shadow: 0 8px 24px 0 rgb(16 39 112 / 20%);
}

.btnLink:hover {
    color: #ffeba7;
}


             /* RESPONSIVE */
/* -------------------------------------- */




@media (max-width: 480px) {

    .card1 {
        display: none;
        
    }
    
    .card {
        width: 90%;
        padding: 1.5rem 1rem;
        min-height: 60%;
        border-radius: 8px;
    }

    .title {
        font-size: 40px;
        top: 0;
        top: -16px;
    }

    .subtitle {
        font-size: 14px;
        margin-top: -23px;
    }

    .field {
        width: 80%;
        padding: 0.6em 0.8em;
    }
    .inputField {
        font-size: 0.9rem;
    }

    .btn {
        width: 40%;
        padding: 0.6em;
    }

    .btnLink {
        font-size: 0.7em;
        margin-top: -2px;
    }
}
