/* Vehiculo.css */

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    /* border: 3px solid black; */
  }
  
  .heading {
    width: 100%;
    text-align: center;
    font-size: 40PX;
    color: rgba(50, 64, 47, 0.861);
    /* border: 3px solid black; */
  }


.card {
    width: 300px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.612);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    /* border: 3px solid black; */
  }
  
  .carImage {
    width: 40px;
    height: auto;
    margin-bottom: 12px;
  }

  .cookieHeading {
    font-size: 1.2em;
    font-weight: 800;
    color: rgb(26, 26, 26);
    /* border: 3px solid black; */
  }
  
  .cookieDescription {
    text-align: center;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(99, 99, 99);
    /* border: 3px solid black; */
  }
  