.navbar {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 11px;
  border-radius: 8px;
  max-width: 1000px;
  margin: 2rem auto;
  box-shadow: 0 0 10px rgba(40, 160, 135, 0.4), 0 0 20px rgba(40, 160, 135, 0.2);

  /* border: 1px solid black; */
}

.navbarleft {
  display: flex;
  align-items: center;
  position: relative;
  left: 40px;
  /* border: 2px solid black; */
}

/* 3d7c36 */
.brandName {
  font-weight: bold;
  font-size: 27px;
  color: #28A087;
  /* border: 3px solid black; */
}

.navbarlinkss {
  display: flex;
  align-items: center;
  gap: 2.2rem;
  list-style: none;
  position: relative;
  right: 200px;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

.navbarlinkss a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: color 0.2s ease;
  /* border: 3px solid black; */
}

.navbarlinkss a:hover {
  color: #28A087;
}

.logoutButton{
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: none;
  margin-bottom: 15px;
  position: relative;
  top: 10px;
  left: 170px ;
  /* border: 1px solid black; */
}

.logautimg {
  width: 35px;
  height: auto;
}

.colorimg {
  fill: #28A087;
  stroke: #28A087;
}